/* Body Styling */
.bgColor {
    background-color: hsl(326, 76%, 74%);

}


h1 {
    border-radius: 8px;
}

/* Card Styling */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#todoItem {
    border-radius: 10px;
    transition: 0.3s;
}

#todoItem:focus {
    border-color: #17a2b8;
    box-shadow: 0 0 5px #17a2b8;
}


button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
}

.list-group-item {
    border-radius: 6px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.list-group-item:hover {
    background-color: hsl(202, 64%, 82%);
    transform: translateX(5px);
}

.fa-pen-to-square:hover {
    color: #0056b3 !important;
    transform: scale(1.2);
    transition: 0.3s;
}

.fa-trash:hover {
    color: #b30000 !important;
    transform: scale(1.2);
    transition: 0.3s;
}
